header.header
    .header__container.container
        .header__wrap
            a.header__logo(href="/")
                picture
                    source(srcset="assets/images/logo-tablet.svg" media="(min-width: 768px")
                    img(src="assets/images/logo-mobile.svg" width="190" height="38" alt="Интернет-магазин фитнес питания для котов «Cat Energy»")

            button.header__toggle(type="button")
                span.header__middle-toggle(aria-label="Открыть меню")

        nav.header__nav
            ul.header__list.nav-list
                li.nav-list__item
                    a.nav-list__link(href="index.html") Главная
                li.nav-list__item
                    a.nav-list__link(href="catalog.html") Каталог продукции
                li.nav-list__item
                    a.nav-list__link(href="form.html") Подбор программы